/* custom css for dnd website */
.alvear-dnd-card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alvear-dnd-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 470px;
  max-width: 470px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #cccccc;
  padding: 10px;
  margin: 10px 20px 20px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alvear-dnd-card-container:before {
  content: "";
  background-image: url("/dndcsgo/images/pattern_parchment.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.alvear-dnd-card-container div.classIcon-container {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 75%;
  right: 0px;
}

.alvear-dnd-card-container div.classIcon-container:after {
  content: '';
  background-image: url("/dndcsgo/images/fighter.png");
  background-size: cover;
  background-position: 90px 0%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

.alvear-dnd-card-container .alvear-dnd-card-content {
  z-index: 5;
  background: rgba(242, 242, 242, 0.8);
  width: 100%;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-icon {
  vertical-align: top;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 70px;
  height: 70px;
  margin: 0px 10px 10px 0px;
  position: relative;
  background-color: #2e0000;
  border-radius: 10px;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-icon:before {
  content: "";
  background-image: url("/dndcsgo/images/pattern_parchment.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .3;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-icon img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
  z-index: 5;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-text {
  vertical-align: top;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 100px);
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-text h1 {
  margin: 0;
  font-size: 20px;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-text span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-text .extraInfo {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-text .extraInfo .alvear-dnd-card-barBg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  height: 10px;
  margin-left: 10px;
  position: relative;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-header .alvear-dnd-card-content-header-text .extraInfo .alvear-dnd-card-barBg .alvear-dnd-card-barFill {
  background: red;
  width: 10%;
  height: 100%;
  position: absolute;
  left: 0;
}

.alvear-dnd-card-container .alvear-dnd-card-content .alvear-dnd-card-content-extended {
  max-height: 0px;
  -webkit-transition: .5s all;
  transition: .5s all;
  overflow: hidden;
}

.alvear-dnd-card-container .alvear-dnd-button-container {
  z-index: 5;
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -15px;
}

.alvear-dnd-card-container .alvear-dnd-button-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alvear-dnd-card-container .alvear-dnd-button-container button {
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background: orange;
  padding: 0px 10px;
  margin: 0px 5px;
}
/*# sourceMappingURL=.alvear_dnd.css.map */